<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']"
        ><ion-icon name="play-back-circle"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Credits</ion-title>
    <ion-buttons slot="secondary">
      <ion-button><ion-icon name="heart"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p>
      Cette application est créée et développée par Ngoc Le :
      <a href="https://ngocle.fr/">https://ngocle.fr/</a>
    </p>
    <p>
      Toutes les recettes de cette application ne sont pas libres de droits.
      Toute reproduction ou copie sans autorisation est interdite.
    </p>
    <p>Toutes les photos sont libres de droits et sont disponibles sur :</p>
    <ul>
      <li>https://burst.shopify.com/photos/</li>
      <li>https://pixabay.com/fr/</li>
    </ul>

    <p>© 2020 Ngoc Le</p>
  </div>
</ion-content>
