ion-title {
  font-family: "Lobster Two", cursive;
  text-align: center;
}

ion-content {
  // --background: rgb(251, 231, 213);
  ion-button,
  h1,
  h2 {
    font-family: "Staatliches", cursive;
  }
}

ion-toolbar {
  --background: rgb(212, 231, 212);
}
